<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
		  h1{
			text-align: center;
			margin-top: 20px !important;
		  }
		  #paint {
			border:3px solid red;
			width: 500px;
			height: 500px;
		  }
		  #predicted {
			font-size: 36px;
		  }
		</style>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	</head>
	<body>
		<div class="container">
		  <h1 class="text-primary">NHẬN DẠNG CHỮ VIẾT TAY</h1>
		  <img src="../static/wellcome.jpg"><br>
		  <a action="/tfjs" type="button" class="btn btn-outline-warning btn-lg" href="tfjs.html">START</a>
		</div>
	</body>
</html>